

 <footer class="p-5p bg-zinc-800 text-white md:grid grid-cols-4">
 
 <div> 
    <a href="/" class="logo font-serif text-4xl block hover:text-blue-300"> Hello Iceland.  </a>
      <p class="editable text-light text-sm mt-2">  Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae.
      </p>
    </div> 

    <!-- empty div for space -->
    <div> </div> 
   

  
  <nav class="p-1">
    <h2 class="p-1 font-bold tracking-wide uppercase"> more </h2>  
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> About us </a> 
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> Contact us </a>  
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> Newsletter </a>  
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> Location </a>
  </nav>

  <nav class="p-1">
    <h2 class="p-1 font-bold tracking-wide uppercase"> connect </h2>  
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> Instagram</a> 
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> facebook </a>  
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> Pinterest </a>  
    <a href="/" class="p-1 block uppercase text-sm tracking-wide hover:text-blue-300"> Linkedin </a>
  </nav>
</div>
</footer>