
<header class="text-center p-10">
    <a href="/">
      <h2 class="pt-6 text-6xl text-zinc-800"> Locale </h2>
    </a>
      <nav class="flex flex-flow flex-nonwrap overflow-x-scroll gap-1 md:justify-center items-center pt-3 uppercase font-extralight text-zinc-800 text-xs">
        <a href="#" class="inline-block  p-3 hover:text-amber-200"> About </a> |
        <a href="#" class="inline-block  p-3 hover:text-amber-200"> Menu </a> | 
        <a href="#" class="inline-block  p-3 hover:text-amber-200"> Catering </a> | 
        <a href="#" class="inline-block  p-3 hover:text-amber-200"> Giftcard </a>

      </nav>
    </header>
    