
<header class="text-center p-10">
    <a href="/">
      <h2 class="pt-6 text-6xl text-zinc-800"> hello iceland </h2>
    </a>
      <nav class="flex flex-flow flex-nonwrap overflow-x-scroll gap-1 md:justify-center items-center pt-3 uppercase font-extralight text-zinc-800 text-xs">
        <a href="#" class="inline-block  p-3 hover:text-blue-300"> Travel </a> |
        <a href="#" class="inline-block  p-3 hover:text-blue-300"> Restaurants </a> | 
        <a href="#" class="inline-block  p-3 hover:text-blue-300"> Lifestyle </a> | 
        <a href="#" class="inline-block  p-3 hover:text-blue-300"> Hotels </a>| 
        <a href="#" class="inline-block  p-3 hover:text-blue-300"> Tours </a>| 
        <a href="#" class="inline-block  p-3 hover:text-blue-300"> Photography </a>

      </nav>
    </header>
    